html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {    
    background-color: #aacfcf;
    line-height:1.8;
    font-family: 'Montserrat', sans-serif;
}

.navbarimg {
    border-radius: 50%;
    margin-right: 3%;

}

.title-img {
    width:70%;
    position:relative;
    margin: 0 auto;
}

a{
    color: #3b6978;
}


.bodytext {
    padding: 3% 20%;
    color:white;
}

.navbar {
     padding: 25px 20% 0;
}

.content {
    padding: 2% 10%;
    background-color: #679b9b;
    color:white;
}

.footer {
    padding: 0 30px 40px;
    background-color: #fde2e2;
    text-align: center;
    color: #3b6978;
}

.icon {
    padding: 8px 8px 18px;
    font-size: 1.5rem;
}

.icon:hover {
    color: #204051; 
}

a:hover {
    color: #204051; 
    text-decoration: none;
}

#interests {
    background-color: #ffb6b6;
    
}



#about {
    background-color: #679b9b;
    z-index: 1;
}

.title-column1 {
    text-align: left;
    height: 40%;
    padding: 5% 0;
    margin: auto;
}

.title-column2 {
    padding: 20px 0;
    margin: auto;
    text-align: right;
}



@media (max-width: 767px) {
    .title-column2 {
        padding: auto 0;
        text-align: center;
    }
    
    .title-column1 {
        text-align: center;
    }
    
    .navbar {
        padding: 25px 10% 0;
    }
    
    .bodytext {
        padding: 5% 10%;
    }
    
    .row {
        padding: 5% 10%;
    }
}

@media (max-width: 575px) {
    .title-img {
        position: relative;
    } 
}

h1 {
  font-size: 5.625rem;
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #3b6978;
  font-size: 2.5rem;
  margin: 15px auto 20px auto;
}

#title {
    color: #679b9b;
}

.row {
    padding: 5% 20%;
}

.intereststitle {
    color: #679b9b;
}

.copyright {
    margin-bottom: 12px;
}

.tbdivider {
    width:100%;
  height:100px;
  background: linear-gradient(to top right, #679b9b calc(50% - 1px), #aacfcf, #aacfcf calc(50% + 1px) )
}

.bddivider {
    width:100%;
  height:100px;
  background: linear-gradient(to top left, #ffb6b6 calc(50% - 1px), #679b9b, #679b9b calc(50% + 1px) )
}

.ifdivider {
  width:100%;
  height:100px;
  background: linear-gradient(to top right, #fde2e2 calc(50% - 1px), #ffb6b6, #ffb6b6 calc(50% + 1px) )
}