
body {    
    display: flex;
    flex-direction: column;
    background-color: #aacfcf;
}

p {
    

}

.navbarimg {
    border-radius: 50%;
}


#bodytext {
    padding: 5% 20%;
}

.navbar {
     padding: 2% 10%;
}

.content {
    padding: 2% 10%;
    background-color: #679b9b;
    color:white;
}

.footer {
    padding: 5%;
    background-color: #fde2e2;
    color: black;
    text-align: center;
}

.icon {
    padding: 4% 2%;
    font-size: 1.5rem;
}

.icon:hover {
    color: black;
}
