.content {
    margin-top: 8px;
}


.container {}

#container content {
    height: 100%;
}

body {
    background: #007bff;
    background: linear-gradient(to right, #81ecec, #55efc4);
    color: black;

    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
}

p {
    
    align-items: left;
}



.navbar-dark {
    background-image: none;
    background-color: crimson;
}

.footer {
    margin-top: auto;
}

#bodytext {
    max-width: 500px;
}
