body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin: 0px;
}

h1 {
    margin: 0;
    padding-bottom: 20px;

}

code {
    font-size: 10px;
    white-space: pre-wrap;
}

pre {
  margin: 0;
}

#code-container {
  display: flex;
  margin: 0 -20px;
  font-family: 'Fira Code', monospace;
}

#document-title {
  display: none;
}

#line-nums {
  width: auto;
  font-size: 10px;
  padding-left: 11px;
  padding-top: 10px;
  padding-bottom: 4px;
  line-height: 12px;
  display: inline-block;
}

#code-div {
  background-color: #c9d1d9;
  border-radius: 5px;
  width: auto;
  flex: 1;
  display: inline-block;
}

#code {
  margin-left: 1px;
}

@media print {
    body {
        
        color-adjust: exact !important;  
        -webkit-print-color-adjust: exact !important;
    }

    #document-title {
      margin-bottom: 20px
    }

    #code-container {
      margin-top: -20px;
    }

    .hide-from-print {
        display: none !important;
    }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
